
body {
    background-color: #FFF5EE;
    font-family: 'Times New Roman';
    margin: 0;
    padding: 7;
    text-align: center;
}

h1 {
    font-family: Brush Script MT;
    color: rgb(72, 60, 50);
}

h2 {
    font-family: 'Times New Roman';
    color: rgb(227, 11, 92);
    font-size: 1.2em;
    text-align: left
}


button {
    color:  rgb(72, 60, 50);
    background-color: rgb(248, 200, 220);
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-style: italic;
}